/* .div{ */
    
    /* background-color: aqua;
   
    width: 300px;
    height: 350px;
    text-align: center;
    /* margin: auto; */
    /* position: relative;
    margin: auto; */
    /* background-image: url("C:\Users\Shalin SR\Pictures\1392028-download-dark-background-images-3840x2160-for-android-50.jpg"); */
/* } */
/* .h1{
    color: white;
    position: relative;
    margin: 20px;
    margin-top: 100px;
    
} */
/* .input{
    position: relative;
    margin: 10px;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border-style: none;
    
}
.button{ */
    /* border-radius: 10px; */
    /* border-style: none;
    position: relative;
    height: 40px;
    width: 70px;
    margin: 15px;
   
} */
.div1{
    display: flex;
    align-items: center;
    align-content: center;
}
.div2{
  width: 300px;
height: 350px; 
background-image: url("images1.jpg"); /* Use path relative to HTML or CSS file */
border: solid 1px black;
border-radius: 10px;
margin: auto;
position: relative;
top: 75px;
text-align: center;
align-items: center;
align-content: center;


    
}
.h1{
    color: white;
    bottom: 10px;
}
.input{
    position: relative;
    height: 35px;
    width: 210px;
    margin: 10px;
    border-radius: 5px;
    border-style: none;
    
}
.button{
    position: relative;
    height: 25px;
    width: 70px;
    border-radius: 10px;
    border-style: none;
    margin: 30px;
}
.body{
    /* background-image: url("soft-color-background-gradient-dark-blue-night-sky-abstract-blured-background-with-gradient-color_180969-1740.avif"); */
   background-size: cover;
   background: linear-gradient(rgb(12, 73, 165), rgb(39, 121, 149), rgb(3, 56, 77));
   

    
}